$bodyColor: #feedc5;
$blueHat: #00bac6;
$yellow: #ffe11d;
$brown: #79472e;
$shoes: #2c2c34;

body,html {
  background:#333;
  height:100%;
}

.table-w {
  display:table;
  height:100%;
  width:100%;
  text-align:center;
  .table-c {
    display:table-cell;
    vertical-align:middle;
  }
}

.cartman {
  position:relative;
  display:inline-block;
  .head {
    overflow: hidden;
    background-color:$bodyColor;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    width:400px;
    height:260px;
    position:relative;
    border-top:solid 100px $blueHat;
    &:after {
      content:" ";
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      border-radius:50%;
      background:$bodyColor;
      border-top:solid 30px $yellow;
      position:absolute;
      top:-10px;
      left:-10px;
      width:calc(100% + 20px);
      height:200px;
      z-index:3;
    }
    .eye {
      width:100px;
      height:120px;
      background:#FFF;
      position:absolute;
      top:28px;
      z-index:4;
      left:calc(50% - 102px);
      border-radius:50%;
      transform: rotate(20deg);
      border-top:solid 3px #999;
      &:after {
        position:absolute;
        width:10px;
        height:10px;
        background:#000;
        top:40%;
        right:30px;
        content:" ";
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
      }
      &.right {
        left:auto;
        right:calc(50% - 102px);
        transform: rotate(-20deg);
        &:after {
          right:auto;
          left:30px;
        }
      }
    }
  }
}