$bodyColor: #feedc5;
$blueHat: #00bac6;
$yellow: #ffe11d;
$brown: #79472e;
$shoes: #2c2c34;

$headSize: 200px;

body,html {
  background:#333;
  height:100%;
}

.table-w {
  display:table;
  height:100%;
  width:100%;
  text-align:center;
  .table-c {
    display:table-cell;
    vertical-align:middle;
  }
}

.cartman {
  width:200px;
  height:180px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  background:$bodyColor;
  .hat {
    border-top:solid 50px $blueHat;
    width:200px;
    height:130px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    position:relative;
    &:after {
      content: " ";
      width: 200px;
      height: 70px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border-top: solid 10px #ffe11d;
      position: absolute;
      left: 0;
      top: 0;
      -webkit-box-shadow: 0px -1px 0px 0px rgba(51,51,51,1);
      -moz-box-shadow: 0px -1px 0px 0px rgba(51,51,51,1);
      box-shadow: 0px -1px 0px 0px rgba(51,51,51,1);
    }
    &:before {
      content:" ";
      height:20px;
      width:60px;
      background:$yellow;
      position:absolute;
      top:-55px;
      left:calc(50% - 30px);
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      border-radius:50%;
    }
  }
}

.cartmanold {
  position:relative;
  display:inline-block;
  .head {
    overflow: hidden;
    background-color:$bodyColor;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    width:400px;
    height:260px;
    position:relative;
    border-top:solid 100px $blueHat;
    &:after {
      content:" ";
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      border-radius:50%;
      background:$bodyColor;
      border-top:solid 30px $yellow;
      position:absolute;
      top:-10px;
      left:-10px;
      width:calc(100% + 20px);
      height:200px;
      z-index:3;
    }
    .eye {
      width:100px;
      height:120px;
      background:#FFF;
      position:absolute;
      top:28px;
      z-index:4;
      left:calc(50% - 102px);
      border-radius:50%;
      transform: rotate(20deg);
      border-top:solid 3px #999;
      &:after {
        position:absolute;
        width:10px;
        height:10px;
        background:#000;
        top:40%;
        right:30px;
        content:" ";
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
      }
      &.right {
        left:auto;
        right:calc(50% - 102px);
        transform: rotate(-20deg);
        &:after {
          right:auto;
          left:30px;
        }
      }
    }
    .mouth {
        border-top: 30px solid #000;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        height: 0;
        width: 40px;
        position:absolute;
        bottom:30px;
        z-index:4;
        right:calc(50% - 30px);
        &:after {
          content:" ";
          height:5px;
          background:#FFF;
          width:120%;
          z-index:5;
          position:absolute;
          left:-10%;
          top:-25px;
        }
        &:before {
          content:" ";
          height:5px;
          background:#FFF;
          width:30%;
          z-index:6;
          position:absolute;
          left:20%;
          border-left:solid 4px #000;
          border-right:solid 4px #000;
          top:-25px;
        }
    }
  }
}